# Ignore node_modules directory
node_modules/

# Ignore any directory named node_modules
*/node_modules/

# Ignore macOS specific files
.DS_Store

# Ignore any files with "-secret.json" in their name
*-secret.json

# Ignore shell scripts
*.sh

# Ignore JetBrains IDE files
.idea/

# Ignore environment variables
.env

# Ignore specific directories or files
database/
optional advanced SQL/
QA-session-content/
async-create-insert.js
generate_big_table.js
